@inject SharedData SharedData

@page "/"

<PageTitle>Index</PageTitle>

<MudContainer MaxWidth="MaxWidth.Large">
    <MudStack Row="false">

        <MudPaper Elevation="0" Outlined="true">

            <MudCarousel Class="mud-width-full" ArrowsPosition="MudBlazor.Position.Bottom" Style="height:400px;" AutoCycleTime="@timeSpan" ShowArrows="false" ShowBullets="true" EnableSwipeGesture="true" AutoCycle="true" TData="object">
                <MudCarouselItem Class="mb-12" Transition="transition">
                    <div class="d-flex" style="height:350px; width:100%">
                        <MudPaper Elevation="0" Class="d-flex flex-grow-1 mud-theme-primary align-center px-8 py-4" Style="height:100%; width:30%">
                            @*                            <MudPaper Class="align-self-center py-4 flex-1 mud-theme-secondary" />*@
                            <MudStack>
                                <MudText Class="align-self-start" Typo="Typo.h4" Style="color:white">
                                    Mission
                                </MudText>
                                <MudText Typo="Typo.body1" Style="color:white">
                                    A one-stop shop for river engineering resources, providing links to key resources for analysis and design.
                                    <br />
                                    It is intended as a tool for (1) practictioners, (2) researchers, and (3) aspiring river engineers.
                                </MudText>
                            </MudStack>


                        </MudPaper>
                        <MudPaper Elevation="0" Class="justify-end flex-grow-1" Style="height:100%; width:70%">
                            <MudImage Style="width:100%" ObjectFit="ObjectFit.Fill" Src="images/1_3x2.jpg" Height="350" Alt="" Elevation="25" />
                        </MudPaper>
                    </div>
                </MudCarouselItem>
                <MudCarouselItem Class="mb-12" Transition="transition">
                    <div class="d-flex" style="height:350px; width:100%">
                        <MudPaper Elevation="0" Class="d-flex flex-grow-1 align-center px-8 py-4" Style="height:100%; width:60%; background-color:darkgreen">
                            @*                            <MudPaper Class="align-self-center py-4 flex-1 mud-theme-secondary" />*@
                            <MudStack>
                                <MudText Typo="Typo.h4" Style="color:white">
                                    Focus
                                </MudText>
                                <MudText Class="gap-4" Typo="Typo.body1" Style="color:white;">
                                    These resources focus on engineering contexts of hydrology, hydraulics, sediment transport and geomorphology.
                                    <br />
                                    Physico-chemical, biological, and social resources are complied incidentially.
                                    <br />
                                    Resources are selected based on their relevance to river engineering projects and frequency in practice.
                                    <br />
                                    The scope is limited to topics (1) within the stream corridor and (2) no larger in scale than a river reach.
                                </MudText>
                            </MudStack>


                        </MudPaper>
                        <MudPaper Elevation="0" Class="justify-end flex-grow-1" Style="height:100%; width:40%">
                            <MudImage Style="width:100%" ObjectFit="ObjectFit.Fill" Src="images/2_3x2.jpg" Height="350" Alt="" Elevation="25" />
                        </MudPaper>
                    </div>
                </MudCarouselItem>
                <MudCarouselItem Class="mb-12" Transition="transition">
                    <div class="d-flex" style="height:350px; width:100%">
                        <MudPaper Elevation="0" Class="d-flex flex-grow-1 align-center px-8 py-4" Style="height:100%; width:50%; background-color:darkcyan">
                            @*                            <MudPaper Class="align-self-center py-4 flex-1 mud-theme-secondary" />*@
                            <MudStack>
                                <MudText Typo="Typo.h4" Style="color:white">
                                    Why
                                </MudText>
                                <MudText Typo="Typo.body1" Style="color:white">
                                    River Engineering is the study and practice of human intervention between water and the landscape.
                                    <br />
                                    Water resources are critical in meeting a wide range of environmental, social, and economic needs.
                                    <br />
                                    Over the last couple centuries, the science and practice has advanced from the improved understanding of technical processes.
                                    <br />
                                    Additionally, river engineering has evolved into an inherently multi-disciplinary field.
                                    <br />
                                    This website provides key resources to help river engineers navigate river engineering science and practice.
                                </MudText>
                            </MudStack>


                        </MudPaper>
                        <MudPaper Elevation="0" Class="d-flex justify-end flex-grow-1" Style="height:100%; width:50%">
                            <MudImage Style="width:100%" ObjectFit="ObjectFit.Fill" Src="images/3_3x2.jpg" Height= "350" Alt="" Elevation="25" />
                        </MudPaper>
                    </div>
                </MudCarouselItem>

            </MudCarousel>

        </MudPaper>

        <MudItem Class="d-flex justify-center py-4 mb-16 mb-md-0">
            <MudButton Style="text-transform:none; font-weight:bold; font-size:medium; font-family:Arial, Helvetica, sans-serif" Variant="Variant.Filled" Color="Color.Primary" DisableElevation="true" Href="engineering">Get started5</MudButton>
        </MudItem>

    </MudStack>
</MudContainer>


@code {
    protected override async Task OnInitializedAsync()
    {
        SharedData.SetHomePageSelected();
    }

    //private bool arrows = true;
    //private bool bullets = true;
    //private bool enableSwipeGesture = true;
    //private bool autocycle = true;
    private Transition transition = Transition.Slide;
    private TimeSpan timeSpan = new TimeSpan(0, 0, 10);

    //public void resPageClicked()
    //{
    //    SharedData.SetResourcesPageSelected(true);
    //}

}

@*
<MudText Class="mb-8">Welcome to your new app, powered by MudBlazor!</MudText>
<MudAlert Severity="Severity.Normal">You can find documentation and examples on our website here: <MudLink Href="https://mudblazor.com" Typo="Typo.body2" Color="Color.Inherit"><b>www.mudblazor.com</b></MudLink></MudAlert>

*@
